.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/fovt.owl
src/ontology/fovt.obo
src/ontology/fovt.json
src/ontology/fovt-base.*
src/ontology/fovt-basic.*
src/ontology/fovt-full.*
src/ontology/fovt-simple.*
src/ontology/fovt-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-fovt-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
.DS_Store
~$Terms.xlsx
terms/~$teethTerms.xlsx
terms/~$skullTerms.xlsx
terms/~$scapulaTerms.xlsx
terms/~$talusTerms.xlsx
.DS_Store
.DS_Store
